<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-suite-initializer" parallel="false" thread-count="1">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.identity.integration.test.listeners.IdentityTestListener"/>
        <listener class-name="org.wso2.identity.integration.test.base.SMTPServerInitializerListener"/>
    </listeners>

    <test name="is-tests-initialize" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <class name="org.wso2.identity.integration.test.IdentityServerTestSuitInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.TomcatInitializerTestCase"/>
            <class name="org.wso2.identity.integration.test.base.LDAPServerInitializerTestCase"/>
        </classes>
    </test>

    <!--Disabling since the WS-Trust functionality is provided as a connector and it does not exist in the product by default.-->
    <!--<test name="is-tests-default-configuration-sts" preserve-order="true" parallel="false" group-by-instances="true">-->
    <!--&lt;!&ndash; Active sts test case needs to run before passive sts test case&ndash;&gt;-->
    <!--<classes>-->
    <!--<class name="org.wso2.identity.integration.test.sts.ActiveSTSTestCase"/>-->
    <!--</classes>-->
    <!--</test>-->

    <test name="is-tests-default-configuration" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
        </classes>
    </test>

    <test name="is-test-rest-api" preserve-order="true" parallel="false" group-by-instances="true">
        <classes>
            <!-- <class name="org.wso2.identity.integration.test.rest.api.server.user.sharing.management.v1.UserSharingSuccessTest"/> -->
            <class name="org.wso2.identity.integration.test.rest.api.server.async.operation.status.mgt.v1.AsyncOperationStatusMgtPositiveTest"/>
        </classes>
    </test>
</suite>
